[submodule "src/external/linalg"]
	path = src/external/linalg
	url = https://github.com/jchristopherson/linalg.git
[submodule "src/external/ferror"]
	path = src/external/ferror
	url = https://github.com/jchristopherson/ferror.git
